.blog-layout {
    height: 100%;
}

.blog-header {
    height: 10%;
    background-color: blueviolet;
}

.blog-main {
    min-height: calc(100% - 10%);
    margin: 5% 0;    
}

.blog-main .md-container {
    width: 50%;
    min-width: 700px;
    margin: 0 auto;
}

.blog-footer {
    background-color: aqua;
}

ul,
h1,
h2,
h3,
p {
    margin: 0px
}